nav {
    a {
        color: white;
    }
}

.nav-item {
    a {
        color: white;
        padding: 0px 10px;
        text-decoration: none;
    }
}
.nav-link {
    color: white;

    &:hover {
        color: white;
    }
}

.Color {
    color: white;
}

.container {
    color: white;
}

.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(
        var(--bs-light-rgb),
        var(--bs-bg-opacity)
    ) !important;
}
